@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----- RESET ----- */

* {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  font-family: 'Poppins', sans-serif;
  scrollbar-width: thin;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0;
}

/* ----- General Styling ----- */

#logo {
  animation: fill 0.8s ease-in-out forwards 3.5s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 1645.13232421875;
  stroke-dashoffset: 1645.13232421875;
  animation: line-anim 3.5s ease-in forwards 1s;
}
#logo path:nth-child(2) {
  stroke-dasharray: 1064.281005859375;
  stroke-dashoffset: 1064.281005859375;
  animation: line-anim 3.5s ease forwards 1.95s;
}

.splash {
  z-index: 4;
  animation: splash 1.5s ease 5s forwards, fadeOut 1s ease forwards 6.2s;
}

.logo {
  stroke: hsl(183, 30%, 60%);
  stroke-miterlimit: 10;
  stroke-width: 5px;
  animation: fill 2s ease forwards;
}

.navLogo {
  stroke-miterlimit: 10;
}

.sidebar {
  animation: slideTop 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide {
  display: grid;
  justify-content: stretch;
  grid-template-columns: 1fr;
  grid-template-rows: nfr 50%;
  gap: 1rem;
  grid-area: i;
  grid-template-areas:
    'img'
    'data';
  transition: opacity ease-in-out 0.4s;
}

.wavyContainer::before {
  content: '';
  position: absolute;
  background: url('./assets/Icons/wavy.svg');
  background-size: cover;
  top: -300px;
  right: 0;
  bottom: 0;
  left: -250px;
  opacity: 0.8;
  z-index: -1;
}

.navLink::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  border-bottom: 2px solid hsl(183, 30%, 60%);
}

.navLink:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footerLink::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  border-bottom: 2px solid white;
}

.footerLink:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ----- Responsive Styling ------ */

@media screen and (min-width: 480px) {
  .wavyContainer::before {
    top: -300px;
    right: 0;
    bottom: 0;
    left: -150px;
  }
}

@media screen and (min-width: 620px) {
  .wavyContainer::before {
    top: -300px;
    right: 0;
    bottom: 0;
    left: -100px;
  }
}

@media screen and (min-width: 1060px) {
  .wavyContainer::before {
    top: -280px;
    right: 0;
    bottom: 0;
    left: -250px;
  }
}

@media screen and (min-width: 1700px) {
  .wavyContainer::before {
    top: -280px;
    right: 0;
    bottom: 0;
    left: -50px;
  }
}

@media screen and (min-width: 768px) {
  .slide {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'img data';
  }
}

/* ----- Animations ------ */

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: hsl(183, 30%, 60%);
  }
}

@keyframes splash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  to {
    z-index: -1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}
